variables:
  FRONTEND_PROFILE: "default"
  BACKEND_PROFILE: "default"
  IP_SERVER: "default"
  SSH_PASSWORD: "mathquest76"

before_script:
  - |
    if [[ "$CI_COMMIT_BRANCH" == "dev" ]]; then
      export FRONTEND_PROFILE="test"
      export BACKEND_PROFILE="test"
      export IP_SERVER="10.130.163.142"
    elif [[ "$CI_COMMIT_BRANCH" == "main" ]]; then
      export FRONTEND_PROFILE="prod"
      export BACKEND_PROFILE="prod"
      export IP_SERVER="10.130.163.148"
    fi

stages:
  - build
  - test
  - deploy

# Build backend with profile
build_backend:
  stage: build
  image: maven:3.9.6-eclipse-temurin-21
  variables:
    MAVEN_OPTS: "-Dfile.encoding=UTF-8"
  script:
    - mvn clean package -DskipTests -Dfile.encoding=UTF-8 -P$BACKEND_PROFILE
  artifacts:
    paths:
      - target/*.jar

# Build frontend with profile
build_frontend:
  stage: build
  image: node:20
  script:
    - cd frontend
    - npm install
    - npm run build:$FRONTEND_PROFILE
  artifacts:
    paths:
      - frontend/build/

# Backend tests
test_backend:
  stage: test
  image: maven:3.9.6-eclipse-temurin-21
  script:
    - mvn test -X -P$BACKEND_PROFILE

# Frontend tests
test_frontend:
  stage: test
  image: node:20
  cache:
    key: npm-cache
    paths:
      - frontend/node_modules
  script:
    - echo "➡️ Running frontend tests..."
    - cd frontend
    - npm install
    - npm test -- --watchAll=false --passWithNoTests --verbose
  allow_failure: false

# Deployment
deploy:
  stage: deploy
  image: debian:bullseye
  services:
    - docker:20.10.16-dind
  only:
    - main
    - dev
  before_script:
    - apt-get update && apt-get install -y sshpass
  script:
    - echo "Deploying to server ($IP_SERVER)..."
    - |
      sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no administrateur@$IP_SERVER << 'EOF'
      cd mathquest
      git checkout $CI_COMMIT_BRANCH
      git fetch --all
      git reset --hard origin/$CI_COMMIT_BRANCH
      git clean -fd
      echo "$SSH_PASSWORD" | sudo -S docker-compose down
      echo "$SSH_PASSWORD" | sudo -S docker-compose up --build -d
      EOF
  environment:
    name: $CI_COMMIT_BRANCH
