stages:
  - build
  - test

# Build du backend Java et Spring Boot
build_backend:
  stage: build
  image: ubuntu:latest
  script:
    - apt update && apt install -y openjdk-21-jdk maven
    - java -version
    - mvn -version
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target/*.jar
  only:
    - dev

# Build du frontend React 18
build_frontend:
  stage: build
  image: node:18
  script:
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/build/
  only:
    - dev

# Tests backend
test_backend:
  stage: test
  image: maven:3.9.6-eclipse-temurin-21
  script:
    - mvn test -X
  only:
    - dev

# Tests frontend
test_frontend:
  stage: test
  image: node:18
  script:
    - cd frontend
    - npm install
    - npm test -- --watchAll=false
  only:
    - dev
