version: "3.8"

services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb+srv://elhathout75:mathquestdatabasepw76@cluster0.vb61x.mongodb.net/utlisateurs?tls=true
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "5000:5000"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge