/* Background color and text styles for the page */



.text-indigo-700 {
    color: #4c51bf;
}

.text-gray-600 {
    color: #4a5568;
}

.text-gray-800 {
    color: #2d3748;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

thead {
    background-color: #4c51bf;
    color: white;
}

tbody tr:hover {
    background-color: #f4f5ff;
}

.border-b {
    border-bottom: 1px solid #ddd;
}

/* Button styles */
button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

/* Card Style */
.bg-white {
    background-color: white;
}

.shadow-lg {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-xl {
    border-radius: 1rem;
}

.hover\\:scale-105:hover {
    transform: scale(1.05);
}

.transition {
    transition: all 0.3s ease;
}

.duration-300 {
    transition-duration: 300ms;
}
.table-container {
    max-height: 400px; /* Hauteur maximale du tableau */
    overflow-y: auto; /* Ajoute la barre de défilement verticale */
    overflow-x: auto; /* Ajoute la barre de défilement horizontale si nécessaire */
}

